 /* nav {
    background-color: coral;
} */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}


ul {
    list-style-type: none;
    display: flex;
  }
  
  li {
    margin: 0 15px;
  }

  a {
      text-decoration: none;
  }

nav {
    background-color: rgb(237, 236, 236);
    width: 100%;
    margin: 0 auto;
    padding: 10px 5px; 
    
}

.navAll {
    width: 1136px;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

nav .left {
    /* background-color: cornflowerblue; */
    display: flex;
    align-items: center;   
}

nav .home {
    
    font-weight: bold;
    color: rgb(0, 79, 0);
}

nav .blog {

    color: black;
}

nav .right button{
    border: none;
    border-radius: 9px;
    padding: 10px;
    background-color: rgb(131, 213, 8)
}

.right button:hover {
    transition: ease-out 0.1s;
    background-color: greenyellow;
  }

button a {
    color: white;
    text-decoration: none;
    
  }
/* nav .right a {
    color: white;
    background-color: rgb(131, 213, 8);
    padding: 9px 15px;
    border-radius: 9px;
    align-items: center;
    text-decoration: none; 

}*/

.container {
    width: 1136px;
    margin: 5px auto;
    display: flex;
    align-items: flex-end;    
}

.container .section {
    display: flex;
    align-items: center;
}

.section .left {
    flex: 300px;
    width: 270px;
    padding: 1rem; 
}

.section .left .card {
    border-radius: 25px; 
    width: 330px;
    padding: 20px;
    box-shadow: 0px 0px 30px grey;

}

.section .left .card table {
    width: 100%;
    border-color: chartreuse;
    border-collapse: collapse; 
    font-family: calibri;
}

.card table .colom_utama {
    background-color: greenyellow;
}

td, th {
    padding: 7px;
}

.section .right {
    flex: 700px;
    padding-top: 25px;
    margin-left: 1rem;
}

.section .right p {
    color: grey;
}

.section .right .skill-section {
    display: flex ;
    padding: 5px;
    
}
.section .right .skill-section img {
    justify-content: center;
}

.section .right .skill-section p {
    color: grey;
    padding: 0px 15px 0px 0px; 
    text-align:left;
}

.section .right .sosmed li {
    display: inline;
}

.sosmed ul li {
    margin: 5px;
}
.sosmed ul li image:hover {
    color: greenyellow;
}

.section .right .sosmed ul li img {
   width: 30px;
   cursor: pointer;

}

/* Contact */

.form_card {
    width: 400px; 
    margin: 20px auto;
}

label {
    font-size: 20px; 
    font-weight:bold; 
    font-family:calibri;
}

#daftar,
#lamar {
  width: fit-content;
  margin: 5px;
}

input, select, textarea {
    background: whitesmoke;
    width: 100%;
    border: 1px solid chartreuse ;
    border-radius: 5px;
    padding: 10px;
    margin: 10px 0;
}

button {
    color: white; 
    background: rgb(131, 213, 8); 
    border: 0ch; 
    width: 100px;
    height: 35px;
    border-radius: 10px;
    cursor: pointer;
    text-align: center;
}

button:hover {
    transition: ease-out 0.1s;
    background-color: greenyellow;
  }

  @media (min-width: 320px) and (max-width: 767px) {
    /* body {
        overflow: hidden;
    } */

    nav .navAll {
        width: 100%;
        margin: 0 auto;
        padding: 10px 5px;
        justify-content: space-between;
    }
    
    nav .left {
        padding: 5px;
    }

    nav .right {
        padding: 5px;
    }

    .container {
        display: block;
        padding: 0px;
        margin: 0px;
        width: fit-content;
    }

    .container .section {
        display: block;
    }

    .section .left {  
        width: 362px;
        margin-right: 0;
    }

    .section .right {
        padding-left: 5px;
        width: 330px;
    }

    .right .skill-section {
        padding: 5px;
    }

    input, select, textarea {
        background: whitesmoke;
        width: 75%;
        border: 1px solid chartreuse;
        border-radius: 5px;
        padding: 10px;
        margin: 10px 50px;
    }

    label {
        margin-left: 50px;
    }

    button {
        margin-left: 50px;
    }

    
}
